@using ReportViewerForMvc;

@{
    ViewBag.Title = "Control Example";
}

<h2>Server report example</h2>

@Html.ReportViewer(
    ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer, 
    new { scrolling = "no" })
